/* CUSTOM PROPERTIES (crear variables para no modificar uno a uno todos los valores)*/
:root{
    --primario: hsl(269, 49%, 90%);
    --secundario: hsl(263, 100%, 97%);
    --ternario:hsl(252, 100%, 88%);
    --acentuacion: hsl(250, 89%, 78%);
    --fuentePrimaria: 'Montserrat';
}

/* aqui nombras el archivo descargado de la fuente que quieras utizar y que cada vez que se visite la pagina desde fuera de tu host se pueda visualizar*/
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format("truetype");
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    /* pones dos url porque una esta mas comprimida que la otra y por seguridad */
    src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.woff2') format("woff2"),url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format("truetype");
    font-style: normal;
}

html,body{
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    /* aqui añades al body la fuente sans-serif */
    font-family: 'libre baskerville', sans-serif;
    background-color: #ffffff;
    min-height: 100vh;
    /* justify-content: space-between; */
    background-color: var(--secundario);
}

main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header {
    background-color: var(--primario);
    text-align: center;
    border-radius: 10px;
    border:2px solid black; 
    border-bottom: 1px solid black;  
}

h1 {
    font-size: 40px;
    color: var(--secundario);
    margin: 0;
}

/* aqui añades a los h1 y h2 la fuente serif descargada */
h1,h2{
    font-family: var(--fuentePrimaria);
    font-size: 80px;
}

nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 1em;
    background-color: var(--ternario);
    border-radius: 10px;
    border:2px solid black;
    margin: 0.5em, 0em, 0em;
    border: 1px solid black;
    background-color: var(--ternario);
}

nav ul li {
    display: inline;
}

/* con esto hago que desaparezcan las lineas del menu */
nav ul li a{
    text-decoration: none;
}

/* aqui hago que al pasar el raton por encima interactue */
nav ul li a:hover{
    text-decoration: underline;
}

section {
    /* no se como ajustar el tamaño al texto */
    border: 1px solid black;
    border-radius: 5%;
    background-color: var(--primario);
    padding: 1em;
    border-radius: 10px;
    max-width: 20vw;
}

section h2 {
    font-size: 25px;   
}

section p {
    font-size: 18px;
}

footer {
    background-color: var(--primario);
    text-align: right;
    color: hsl(0, 0%, 0%);   /*color de la letra*/
    border-radius: 10px;
    border:1px solid black;
    justify-content: end;
    margin-top: auto;
}

/* media queris para que pase a columna cuando la pantalla empequeñece */
@media (width <= 768px){
    main{
        flex-direction: column;
    }
}