/* aqui nombras el archivo descargado de la fuente que quieras utizar y que cada vez que se visite la pagina desde fuera de tu host se pueda visualizar*/
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
    font-style: italic;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
    font-style: normal;
}

body {
    /* aqui añades al body la fuente sans-serif */
    font-family: 'libre baskerville', sans-serif;
    background-color: #ffffff;
    background-color: hsl(220, 33%, 33%);
}

main{
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    justify-content: space-around;
}

header {
    background-color: hsl(203, 41%, 39%);
    text-align: center;
      
}

h1 {
    font-size: 40px;
    color: hsl(41, 58%, 81%);
}

/* aqui añades a los h1 y h2 la fuente serif descargada */
h1,h2{
    font-family: 'Montserrat';
}

nav ul {
    display: flex;
    list-style-type: none;
    background-color: #f4f4f4;
    justify-content: space-around;
    padding: 1em;
    background-color: hsl(203, 41%, 39%);
}

nav ul li {
    display: inline;
    
}
/* con esto hago que desaparezcan las lineas del menu */
nav ul li a{
    text-decoration: none;
}
/* aqui hago que al pasar el raton por encima interactue */
nav ul li a:hover{
    text-decoration: underline;
}

section {
    margin-top: 20px;
    border: hsl(199, 31%, 55%) ;
    padding: 1em;
}

section h2 {
    font-size: 25px;
    color: hsl(41, 58%, 81%);
}

section p {
    font-size: 18px;
    color: hsl(0, 0%, 100%);
}

footer {
    background-color: hsl(220, 33%, 33%);
    text-align: right;
}
